.experience {
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 12rem;
  margin-right: 12rem;
  text-align: center;
}

.experience h1 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #2ec4b6;
  text-align: center;
}

.experience h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ff9f1c;
}

.experience h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ffbf69;
}

.experience p {
  font-size: 18px;
  line-height: 1.7;
}

.experience button {
  font: inherit;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  font-size: 15px;
  font-weight: bold;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #cdb4db;
  background: #cdb4db;
  border-radius: 10px;
  margin-bottom: 2rem;
  color: black;
}

.divider {
  background-color: black;
  width: 60%;
  border: 0cm;
  height: 0.1rem;
}
