.about {
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 2em;
}

.about h1 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #2ec4b6;
  text-align: center;
}

.about h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ff9f1c;
}

.about h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.about p {
  font-size: 18px;
  line-height: 1.7;
}

.about li {
  font-size: 18px;
  line-height: 1.7;
  margin-left: 0.5rem;
}

.about button {
  font: inherit;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  font-size: 15px;
  font-weight: bold;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #cdb4db;
  background: #cdb4db;
  border-radius: 10px;
  color: black;
}

.facts {
  color: #ff9f1c;
}

.divider {
  background-color: black;
  width: 60%;
  border: 0cm;
  height: 0.1rem;
  margin-top: 1rem;
}
